<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CommentDao">
  
  <resultMap type="comment" id="CommentMap">
    <id column="cno"           property="no"/>
    <result column="rvno"    property="reviewNo"/>
    <result column="odr"    property="order"/>
    <result column="lvl"    property="level"/>
    <result column="mno"    property="memberNo"/>
    <result column="content"    property="content"/>
    <result column="rdt"    property="registeredDate"/>
    <result column="stat"    property="status"/>
    <result column="mdt"    property="modifiedDate"/>
    
    <association property="member" javaType="member">
      <id column="mno" property="no"/>
      <result column="nick" property="nickName"/>
      <result column="photo" property="photo"/>
    </association>
      
    <association property="review" javaType="review">
      <id column="rvno" property="no"/>
      <result column="txt"      property="text"/>
      
    
    </association>
  </resultMap>
  
  <!--
  private int no; // 댓글 번호
  private int reviewNo; // 영화 후기 번호
  private int order; // 댓글 순서
  private int level; // 댓글 단계
  private int memberNo; // 댓글단 회원
  private String content; // 내용
  private Date registeredDate; // 등록일
  private int status; // 상태
  private Date modifiedDate; // 수정일
  -->
  
  <sql id="sql1">
    select 
    c.cno,
    c.rvno,
    c.odr,
    c.lvl,
    c.mno,
    c.content,
    c.rdt,
    c.stat,
    c.mdt,
    r.rvno,
    r.txt,
    mb.nick,
    mb.photo
  </sql>
       
  <insert id="insert" parameterType="comment">
    insert into acv_cmt(cno, rvno, odr, lvl, mno, content) 
    <if test="content != ''">
      values(#{no}, #{reviewNo}, #{order}, #{level}, #{memberNo}, #{content})
    </if>
  </insert>
  
  <select id="findAll" resultMap="CommentMap" parameterType="string">
  <include refid="sql1" />
    from
    acv_cmt c
      inner join acv_rv r on r.rvno = c.rvno
      inner join acv_mbr mb on mb.mno = c.mno
  <if test="keyword != null">
    where
      c.rvno like concat('%', #{keyword}, '%')
      or c.cno like concat('%', #{keyword}, '%')
      or mb.nick like concat('%', #{keyword}, '%')
  </if>
    order by r.rvno, c.odr, c.lvl, c.cno asc;
  </select>
  
  <select id="findByReviewNo" resultMap="CommentMap" parameterType="int">
    <include refid="sql1"/>
      from 
      acv_cmt c
      inner join acv_rv r on r.rvno = c.rvno
      inner join acv_mbr mb on mb.mno = c.mno
    where r.rvno=#{reviewNo}
  order by c.odr, c.lvl, c.cno asc;
  </select>
  
    <select id="findByMemberNo" resultMap="CommentMap" parameterType="int">
    <include refid="sql1"/>
      from 
      acv_cmt c
      inner join acv_rv r on r.rvno = c.rvno
      inner join acv_mbr mb on mb.mno = c.mno
    where
      c.mno=#{mno}
    order by r.rvno, c.odr, c.lvl, c.cno asc;
  </select>
  
</mapper>
