<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.acv.dao.FollowDao">

 <resultMap type="follow" id="FollowMap">
  <id column="fno"            property="no" />
  <result column="target"     property="followedNo" />
  <result column="fano"  property="followedType"/>
  <result column="fdt"        property="followedDate"/>
  <result column="stat"        property="status"/>

  <association property="followingMember" javaType="Member">
    <id column="mno" property="no"/>
    <result column="nick" property="nickName"/>
  </association>
 </resultMap>
 
  <sql id="sql1">
  select
    f.fno,
    f.target,
    f.fdt,
    f.stat,
    mb.mno mno,
    mb.nick nick,
    fa.fano,
    fa.name fano_name
  from
    acv_flw f
    inner join acv_mbr mb on f.flwing_mbr=mb.mno
    inner join acv_flw_able fa on f.fano = fa.fano
  </sql> 
 
 <!-- 팔로잉 목록 -->
 <select id="findByNo" resultMap="FollowMap" parameterType="int">
    <include refid="sql1"/>
    where
      f.fno=#{fno}
  </select>
 

 <select id="findAll" resultMap="FollowMap">
  <include refid="sql1"/>
  order by
    f.fno desc
  </select>
  
  <!-- 사용자 팔로잉 목록 -->
  <select id="findByMemberNo" resultMap="FollowMap">
  <include refid="sql1"/>
  where
    mb.mno=#{followingMember}
  order by
    f.fno desc
  </select>
 
 <!-- 팔로잉 insert -->
  <insert id="follow" parameterType="follow">
  insert into acv_flw(flwing_mbr, target, fano)
  values(#{followingMember.no},#{followedType},#{followedNo})
 </insert>

</mapper>