<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.acv.dao.FollowDao">

 <resultMap type="follow" id="FollowMap">
  <id column="fno"            property="no" />
  <result column="target"     property="followedNo" />
  <result column="fano"  property="followedType"/>
  <result column="fdt"        property="followedDate"/>
  <result column="stat"        property="status"/>

  <association property="followingMember" javaType="Member">
    <id column="mno" property="no"/>
    <result column="nick" property="nickName"/>
    <result column="email" property="email"/>
    <result column="intro" property="intro"/>
    <result column="photo" property="photo"/>
  </association>
  
    <association property="targetMember">
      <result column="targetMember_no"        property="no"/>
      <result column="targetMember_nick"        property="nickName"/>
      <result column="targetMember_photo"        property="photo"/>
      <result column="targetMember_intro"        property="intro"/>
    </association>
    
    <association property="targetTag">
      <result column="targetTag_no"        property="no"/>
      <result column="targetTag_title"        property="title"/>
      <result column="targetTag_stat"         property="status"/>
      
      <collection property="reviews"    ofType="integer">
      <result column="rvno"        property="yongseobatjimothal-code"/>
      </collection>
    </association>
   </resultMap>
   
    <resultMap type="follow" id="FollowMap2">
  <id column="fno"            property="no" />
  <result column="target"     property="followedNo" />
  <result column="fano"  property="followedType"/>
  <result column="fdt"        property="followedDate"/>
  <result column="stat"        property="status"/>

  <association property="followingMember" javaType="Member">
    <id column="mno" property="no"/>
    <result column="nick" property="nickName"/>
    <result column="email" property="email"/>
    <result column="intro" property="intro"/>
    <result column="photo" property="photo"/>
  </association>
  
    <association property="targetMember">
      <result column="targetMember_no"        property="no"/>
      <result column="targetMember_nick"        property="nickName"/>
      <result column="targetMember_photo"        property="photo"/>
      <result column="targetMember_intro"        property="intro"/>
    </association>
   </resultMap>
   
    <resultMap type="follow" id="FollowMap3">
  <id column="fno"            property="no" />
  <result column="target"     property="followedNo" />
  <result column="fano"  property="followedType"/>
  <result column="fdt"        property="followedDate"/>
  <result column="stat"        property="status"/>

  <association property="followingMember" javaType="Member">
    <id column="mno" property="no"/>
    <result column="nick" property="nickName"/>
    <result column="email" property="email"/>
    <result column="intro" property="intro"/>
    <result column="photo" property="photo"/>
  </association>
  
    <association property="targetMember">
      <result column="targetMember_no"        property="no"/>
      <result column="targetMember_nick"        property="nickName"/>
      <result column="targetMember_photo"        property="photo"/>
      <result column="targetMember_intro"        property="intro"/>
    </association>
    
    <association property="targetTag">
      <result column="targetTag_no"        property="no"/>
      <result column="targetTag_title"        property="title"/>
      <result column="targetTag_stat"         property="status"/>
      
      <collection property="reviews"    ofType="integer">
         <result column="mno"        property="writerNo"/>
          <result column="stcno"    property="stillCut"/>
          <result column="stc_url"    property="stcUrl"/>
          <result column="txt"      property="text"/>
          <result column="txt_x"      property="textX"/>
          <result column="txt_y"      property="textY"/>
          <result column="tfno"      property="textFont"/>
          <result column="txt_size"      property="textSize"/>
          <result column="rdt"      property="registeredDate"/>
          <result column="mdt"      property="modifiedDate"/>
          <result column="stat"      property="status"/>
          <result column="mvTitle"      property="movieTitle"/>
      </collection>
    </association>
   </resultMap>

  <sql id="sql1">
  select
    f.fno,
    f.target,
    f.fdt,
    mb.mno mno,
    mb.nick,
    fa.fano,
    fa.name fano_name
  from
    acv_flw f
    inner join acv_mbr mb on f.flwing_mbr=mb.mno
    inner join acv_flw_able fa on f.fano = fa.fano
  </sql> 
  
  <sql id="sql2">
  select
    mb.mno,
    mb.nick,
    f.fno,
    f.fano,
    f.target,
    f.fdt,
    mb2.mno targetMember_no,
    mb2.nick targetMember_nick,
    mb2.photo targetMember_photo,
    mb2.intro targetMember_intro,
    t.tno targetTag_no,
    t.title targetTag_title,
    tp.tpno,
    tp.rvno
  from
    acv_mbr mb
	    left outer join acv_flw f on mb.mno=f.flwing_mbr
	    left outer join acv_mbr mb2 on f.target=mb2.mno
	    left outer join acv_tag t on f.target=t.tno
	    left outer join acv_tag_post tp on t.tno=tp.tno
  </sql> 

 <!-- 팔로우 리스트 -->
 <select id="findAll" resultMap="FollowMap">
  <include refid="sql2"/>
  order by
    mb.mno desc
  </select>
  
  <!-- 내가 팔로우하는 리스트 -->
 <select id="findMyFollowingList" resultMap="FollowMap" parameterType="int">
  <include refid="sql2"/>
    where
      mb.mno=#{mno}
  </select>
   
  <!-- 나를 팔로우하는 리스트 --> 
  <!-- 여기서 target은 팔로워이다, 위랑 반대임 -->
  <select id="findMyFollowerList" resultMap="FollowMap2" parameterType="int">
  select
    f.fno,
    mb.mno,
    mb.nick,
    mb2.mno targetMember_no,
    mb2.nick targetMember_nick,
    mb2.photo targetMember_photo,
    mb2.intro targetMember_intro,
    f.fano,
    f.target,
    f.fdt
  from
    acv_mbr mb
      left outer join acv_flw f on mb.mno=f.target
      left outer join acv_mbr mb2 on f.flwing_mbr=mb2.mno
    where
     mb.mno=#{mno} and f.fano=1
    </select>
  
 <!-- 팔로우 타겟 상세 -->
 <select id="findByNo" resultMap="FollowMap" parameterType="int">
    <include refid="sql1"/>
    where
      f.fno=#{fno}
  </select>
 
 <!-- 팔로잉 유저 insert -->
  <insert id="insertUser" parameterType="follow">
  insert into acv_flw(flwing_mbr, target, fano)
  values(#{followingMember.no},#{followedNo}, 1)
 </insert>
 
  <!-- 팔로잉 태그 insert -->
  <insert id="insertTag" parameterType="follow">
  insert into acv_flw(flwing_mbr, target, fano)
  values(#{followingMember.no},#{followedNo}, 2)
 </insert>
 
  <update id="deleteUser" parameterType="follow">
   delete from acv_flw
    where flwing_mbr=#{followingMember.no} and fano=1 and target=#{followedNo}
  </update>
  
  <update id="deleteTag" parameterType="follow">
   delete from acv_flw
    where flwing_mbr=#{followingMember.no} and fano=2 and target=#{followedNo}
    </update>
</mapper>