<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.acv.dao.LikeDao">
    <!--
  public static final int REVIEW = 1;
  public static final int COMMENT = 2;

  private int no; // 좋아요 이력 번호 lno
  private Member likingMember; // 좋아요한 회원 mno 
  private int likedType; // 좋아요된 대상 유형 lano
  private int likedNo; // 좋아요된 대상 target
  private Date likedDate; // 좋아요 누른 일시 ldt
  private int stat; // 좋아요 상태 stat = 1 활성화 stat = 2 비활성
  
  
  MariaDB [studydb]> desc acv_like;

| lno    | int(11)  | NO   | PRI | NULL                | auto_increment |
| mno    | int(11)  | NO   | MUL | NULL                |                |
| lano   | int(11)  | NO   | MUL | NULL                |                |
| target | int(11)  | NO   |     | NULL                |                |
| ldt    | datetime | NO   |     | current_timestamp() |                |   

MariaDB [studydb]> select * from acv_lk_able;

| lano | name   |

|    2 | 댓글   |
|    1 | 후기   |

  -->
  <resultMap type="like" id="LikeMap">
    <id column="lno"           property="no"/>
    <result column="lano"    property="likedType"/>
    <result column="target"    property="likedNo"/>
    <result column="ldt"    property="likedDate"/>
    <result column="name"    property="likedTypeName"/>
    <result column="stat"    property="stat"/>
    <result column="rvmno"  property="rvmno"/>
    <result column="cmno"  property="cmno"/>
   
  <association property="likingMember" javaType="Member">
    <id column="mno" property="no"/>
    <result column="nick" property="nickName"/>
    <result column="photo" property="photo"/>
  </association>


  </resultMap>

  <sql id="sql1">
    select 
      l.lno,
      l.mno,
      l.lano,
      l.target,
      l.ldt,
      mb.nick,
      mb.photo,
      la.name
      
  </sql>
       
  <select id="findAll2" resultMap="LikeMap" parameterType="int">
    select 
      l.lno,
      l.mno,
      l.lano,
      l.target,
      l.ldt,
      mb.nick,
      mb.photo,
      la.name,
      r.rvno,
      mb2.mno rvmno,
      c.cno,
      mb3.mno cmno
    from
	    acv_like l
	      left outer join acv_mbr mb on mb.mno = l.mno
	      left outer join acv_lk_able la on la.lano = l.lano
	      left outer join acv_rv r on l.target = r.rvno
	      left outer join acv_cmt c on l.target = c.cno
	      left outer join acv_mbr mb2 on r.mno=mb2.mno
	      left outer join acv_mbr mb3 on c.mno=mb3.mno
    where mb2.mno = #{mno} or mb3.mno =#{mno} 
    order by l.lno desc
  </select>
  
  <select id="findAll" resultMap="LikeMap">
  <include refid="sql1" />
    from
    acv_like l
      inner join acv_mbr mb on mb.mno = l.mno
      inner join acv_lk_able la on la.lano = l.lano
    order by l.ldt desc;
  </select>
  
  <select id="getTime" resultMap="LikeMap" parameterType="map">
    select
    lno,
    ldt
    from
    acv_like
    order by ldt desc;
  </select>

<!-- 좋아요 -->
  <insert id="insertReview" parameterType="like">
    insert into acv_like(mno, lano, target) 
      values(#{likingMember.no}, 1, #{likedNo})
  </insert>
  
  <insert id="insertComment" parameterType="like">
    insert into acv_like(mno, lano, target) 
      values(#{likingMember.no}, 2, #{likedNo})
  </insert>
  
  <delete id="deleteReview" parameterType="int">
    delete from
     acv_like
    where mno=#{likingMember.no} and lano=1 and target=#{likedNo}
  </delete>
  
  <update id="deleteComment" parameterType="int">
    update from acv_like
    where mno=#{likingMember.no} and lano=2 and target=#{likedNo}
  </update>
  
  
  <!--  
  
  <update id="deleteComment" parameterType="int">
   delete from acv_cmt
    where mno=#{likingMember.no} and lano=2 and target=#{likedNo}
  </update>

   <update id="active" parameterType="int">
    update acv_like set
     stat = 1
    where mno=#{likingMember.no} and target=#{likedNo}
  </update>

  <update id="inactive" parameterType="int">
  update acv_like set
    stat = 2
  where mno=#{likingMember.no} and target=#{likedNo}
  </update>
  -->

  
</mapper>





