@charset "UTF-8";

  #footer {
  clear : both;
  float : left;
  margin-top : 50px;
  color: #B9B9BA;
  height: 50px;
  width: 100%;
}

  #footer p {
  font-size: 15px;
    font-weight: normal;
  } 
  #footer #teamName {
  padding:5px;
  float: left;
  margin-right:18px;
   font-weight: bold;
 }
 
  #footer #members {
  padding:5px;
  float: left;
 }
   #footer #url {
   padding:4px;
  margin-right:18px;
   float: right;
  color: #B9B9BA;
    text-decoration:none;
 }
  #footer img {
   float: right;
 }
  
 
 