@charset "UTF-8";
  #footer {
  position: absolute;
  bottom:0px;
  color: #B9B9BA;
  height: 50px;
  width: 100%;
}

  #footer p {
    font-weight: normal;
  } 
  
  #footer img {
   position: absolute;
   bottom: 10px;
   right: 400px;
 }
 
  #footer #teamName {
   font-weight: bold;
   position: absolute;
   bottom: 17px;
   left: 70px;
 }
 
  #footer #members {
   position: absolute;
   bottom: 17px;
   left: 300px;
 }
 
   #footer #url {
   position: absolute;
   bottom: 17px;
   right: 40px;
 }