@charset "UTF-8";

#cards {
	xposition: absolute;
	xleft: 230px;
	xtop: 70px;
	box-sizing: content-box;
	width: 700px;
	height: 700px;
	padding: 0px;
	overflow: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#cards::-webkit-scrollbar {
	display: none;
}

.card {
	position: relative; 
	border-radius: 10px;
	background-color: #141517;
	box-sizing: border-box;
	color: white;
	width: 650px;
	height: 500px;
	margin-top: 10px;
	padding: 0px;
}

.card .cardHeader {
	position: absolute;
	width: 600px;
	margin: 15px;
}

.card img.profile {
	float: left;
	width: 50px;
}

 .card .cardHeader .nickname {
  float: left;
  margin: 13px;
	position: relative;
	left: 0px;
	top: 5px;
}

.card .cardHeader .follow {
	float: left;
	margin: 10px;
	position: relative;
	top: -2px;
}

.card .stillcut {
	position: relative;
	margin: 0px;
	position: absolute;
	top: 80px;
	height: 350px;
	width: 650px;
	overflow: hidden;
	background-color: #000;
}

.card .stillcut img {
	width: 650px;
	display: block; 
	margin: 0px 
	auto;
}

.card .stillcut .reviewText {
	position: absolute;
	width: 650px;
	top: 50%;
	text-align: center;
	background-color: rgba( 0, 0, 0, 0.5 );
	padding: 4px;
}

.card .stillcut .tags {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba( 0, 0, 0, 0.5 );
	padding: 4px;
}

.card .cardFooter {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 625px;
}

.card .cardFooter .movie {
	float: left;
  margin: 15px;
}
.card .cardFooter .rdt {
  float: left;
  margin: 15px;
  font-size: 80%;
  font-weight: normal;
  position: relative;
  top: 3px;
  color: #B9B9BA;
}

.card .cardFooter .like {
	float: right;
	position: relative;
	left: -20px;
	top:8px;
}

.card .cardFooter .like img {
	width: 50%;
}

.card .cardFooter .like .pop {
	position: relative;
	top: -7px;
	left: 5px;
}
.card .reviewDetail button {
	position: absolute;
	top: 80px;
  height: 350px;
  width: 650px;
  background-color: rgba( 0, 0, 0, 0 );
  border: none;
  display: none;
}

.dropdown1 {
	position: relative;
	display: inline-block;
}

.more {
  position: relative;
  cursor: pointer;
  margin-top: 14px;
  float: right;
  border: none;
  background-color: #141517;
}

.more:hover, .more:focus{
	border: none;
	
}

.dropdown-content1 {
	display: none;
	position: absolute;
	margin-top: 40px;
	background-color: #141517;
	border: 1px solid #6b6b6b;
	border-radius: 5px;
	width: 60px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
}

.dropdown-content1 a {
  color: white;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #ddd}

