@charset "UTF-8";

#cards {
	overflow: hidden;
	overflow-y: scroll;
	position: absolute;
	left: 230px;
	top: 70px;
	box-sizing: content-box;
	width: 700px;
	height: 700px;
	padding: 0px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#cards::-webkit-scrollbar {
	display: none;
}

.card {
	position: relative; 
	border-radius: 10px;
	background-color: #141517;
	box-sizing: border-box;
	color: white;
	width: 650px;
	height: 500px;
	margin: 10px;
	padding: 0px;
}

.card .member {
	position: absolute;
	width: 600px;
	margin: 10px;
}

.card img.profile {
	float: left;
	width: 50px;
}

 .card .member .nickname {
  float: left;
  margin: 10px;
	/* position: absolute;
	left: 57px;
	top: 15px; */
}

.card .member .follow {
	float: left;
	margin: 10px;
	/* position: absolute;
	left: 150px;
	top: 15px; */
}

.card .stillcut {
	position: relative;
	margin: 0px;
	position: absolute;
	top: 80px;
	height: 350px;
	width: 650px;
	overflow: hidden;
	background-color: #000;
}

.card .stillcut img {
	height: 350px;
	display: block; 
	margin: 0px 
	auto;
}

.card .stillcut .reviewText {
	position: absolute;
	top: 50%;
	left: 325px;
	text-align: center;
	transform: translate( -50%, -50% );
	background-color: rgba( 0, 0, 0, 0.5 );
}

.card .stillcut .tags {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba( 0, 0, 0, 0.5 );
}

.card .cardFooter {
	
	
}