@charset "UTF-8";

a { text-decoration: none; }

 body {
   background-color : #000000;
   color: #ffffff;
   margin: 0px;
    
 }
 
 #profile_contents {
   background-color: #141517;
   border-radius: 10px;
   
   float: left;
   
   box-sizing: border-box;
   width: 650px;  
   padding: 40px; 
   
   height: 700px;
   overflow: hidden;
   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
 }
 
 #profile_contents::-webkit-scrollbar {
  display: none;
 }

 /* 프로필 상단 */
 #profile_top{
 width : 550px;
 height : 150px;
 margin-right : 10px;
 margin-left : 10px;
 }
 #profile_top img {
 margin-right : 30px;
 float: left;
 }
 #profile_top_text {
 margin-top : 22px;
 float: left;
 }
 #profile_top_text_nickName {
 margin-bottom : 5px;
 font-size : 24px;
 font-weight : bold;
 }
 #profile_top_text_email {
 margin-bottom : 30px;
 font-size : 18px;
 }
 #profile_top_text_intro {
 font-size : 18px;
 }
 
 #profile_top button {
 margin-top : 14px;
 margin-right : 10px;
 float : right;
 
 }
 
 /* 아이콘 덩어리*/
 #profile_icon {
 width : 550px;
 margin-right : 10px;
 margin-left : 10px;
 height : 100.8px;
 clear: both;
 }
 #profile_icon a {
 margin-top : 48px;
 margin-left : 80px;
 float: left;
 }
 #profile_icon .profile_icon_text {
 font-size :15px;
 font-weight : normal;
 display : block;
 padding-top : 8px;
 }
 #profile_icon .profile_icon_number {
 font-size :15px;
 font-weight : normal;
 display : block;
 padding-top : 5px;
 padding-right : 2px;
 text-align: center;
 }
 #profile_icon .profile_icon_number {
 display: block;
 }
 
 .profile_icon { 
   display: block; 
   margin: 0px auto; 
 }
 
 img.profile {
  border-radius: 100px;
 }
 
 #profile_icon_report {
 float: right;
 padding-top: 20px;
 }
 
 
 /* 밑부분 */
 
#profile_bottom {
 margin-top : 66px;
 clear: both;
 }
 #profile_bottom button{
 float : right;
 }
 
 .profile_bottom_row{
  clear: both;
  margin-bottom : 25px;  
  height : 50px;
 }
 
 
 .profile_bottom_object_image {
  float:left;
  margin-right : 15px;
  border-radius: 100px;
 }
 .profile_bottom_object_text {
 float: left;
 }
 .profile_bottom_object_text_nick {
 font-weight: bold;
 margin-bottom : 10px;
 }
 .profile_bottom_object_text_intro {
 font-weight: normal;
 font-size: 14px;
 color: #626473;
 }
 
 #profile_bottom .profile_bottom_review{
 float:left;
 margin-bottom : 18px;
 margin-right : 10px;
 margin-left : 10px;
 width : 265px;
 height : 160px;
 }

 .modal-content {
  border-radius: 10px;
  background-color: #141517;
  box-sizing: border-box;
  width: 500px;
  margin-top: 10px;
  padding: 50px;
  margin : 0 auto;
 }
 
  .follow .modal-body {
    margin: 20px 50px 15px 50px;
 }
  .follow .modal-body-text {
  text-align : center;
 }
  .follow .modal-body-image {
    height : 105px;
    width : 100px;
    margin : 0 auto;
 }
  .follow .modal-body img{
  width : 75px;
 }
 
  .follow .modal-content .btn {
 margin-top : 14px;
 margin-right : 10px;
 float : right;
 
 }
 
 
 .modal-reportForm {
    width: 450px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
 }
 